

<style>
    img{
        float:right;
        
    }

    div{
        padding: 8px;
        border-width: 10px;
        overflow: hidden;
        
    }
    
    
  </style>
    
<div id="a" >
    
<div style="background-color: #eee;">
<h2 style="text-align:center;color:rgb(255, 0, 119);padding:40px;">ABOUT US</h2>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto provident soluta officiis doloremque cum impedit minus maiores maxime deserunt recusandae fugiat, similique consectetur, exercitationem sequi autem eveniet! Odit ab doloribus reprehenderit laborum sapiente ea libero ipsa! Enim, voluptatum consequatur. Velit ea consequatur accusamus delectus, minima maxime aliquam. Quasi, suscipit natus..</p>
</div>
</div>