


  <style>
    /* h4{
        text-align: center;
        color:black;
        padding:10px;
    }
    th{
    
    }
  ul{
    margin-left: 50px;
    list-style-type: none;
    display:flex;
     
  }
  
  li{
    margin:5px;
  } */
  h4{
        text-align: center;
        color:black;
        padding:10px;
    }
  th,td{
        text-align:center;
        
    }
    ul{
    margin-left: 50px;
    list-style-type: none;
    display:flex;
     
  }
  li{
    margin:5px;
  }
    
    p{
        padding:10px;
        text-align:center;      
    }
    .fa-laptop,.fa-home,.fa-thumbs-o-up,.fa-money,.fa-bookmark,.fa-snowflake-o{
        width:80px;
        height: 50px;
        margin-left:auto;
        margin-right: auto;
        padding:20px;
        font-size: 30px;
        
            }
   
  .fa-cc-visa ,.fa-cc-mastercard,.fa-cc-paypal{
          font-size: 20px;
       
        
  }
  .fa-envelope,.fa-facebook,.fa-youtube
  {
    margin-right: 10px;

  }
  </style>
<div id="co" >

  <footer style="background-color:rgb(255, 72, 127);height:350px;width:100%">
    <h4>CONTACT US</h4>
    <table>
      <thead>
      <tr>
      <th>Address</th>
      <th>Payment</th>
      
      
      </tr>
      
      </thead>
      <tbody>
          <tr>
              <td>
               <address style="text-align: center;">
                near Kukatpally main Road<br/>
                Hyderabad,Telangana,India<br/>
              Phone no:123456789<br/>
             Email : abcd@gmail.com</address>
                </td>
                  
              
              <td>  
        <ul>
        <li><i class="fa fa-cc-visa" aria-hidden="true"></i></li>
      <li><i class="fa fa-cc-mastercard" aria-hidden="true"></i></li>
    <li> <i class="fa fa-cc-paypal" aria-hidden="true"></i></li>
  </ul>
</td>
</tr>
      </tbody>
      <thead>
        <tr>
          <th>Subscribe</th>
          <th>Follow us</th>
        </tr>
      </thead>
      <tbody>
        <tr>
<td>
  <input class="a" type="text" name="" id="" placeholder="enter your mail">
  <input class="btn btn-danger" type="submit" value="Subscribe">
</td>
<td>
  <ul>
  <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
  <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
<li><i class="fa fa-envelope" aria-hidden="true"></i></li>
<li><i class="fa fa-youtube-play" aria-hidden="true"></i></li>


</ul>
</td>
              </tr>
          </tbody>
          
    
          </table>
          <p style="text-align: center;padding:20px"> CopyRights &copy; reserved 2021</p>
        </footer>
 
      </div>
<!--         
         <h6>Address</h6>
        <address style="text-align: center;">
        near Kukatpally main Road<br/>
        Hyderabad,Telangana,India<br/>
      Phone no:123456789<br/>
     Email : abcd@gmail.com</address>
     
        <h6>Payment Method</h6>
        <ul>
        <li><i class="fa fa-cc-visa" aria-hidden="true"></i></li>
      <li><i class="fa fa-cc-mastercard" aria-hidden="true"></i></li>
    <li> <i class="fa fa-cc-paypal" aria-hidden="true"></i></li>
  </ul>
      
  
        <h6>Subscribe</h6>
        <input class="a" type="text" name="" id="" placeholder="enter your mail">
        <input class="btn btn-danger" type="submit" value="Subscribe">
    
     
        <h6>Follow us</h6>
        <ul>
        <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
        <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
      <li><i class="fa fa-envelope" aria-hidden="true"></i></li>
      <li><i class="fa fa-youtube-play" aria-hidden="true"></i></li>

      </ul>
      
    </div>
  </div>

  <p style="text-align: center;padding:20px"> CopyRights &copy; reserved 2021</p>
</footer>
  
</div> -->