<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<style>
    h2{
        text-align: center;
        color:rgb(255, 0, 119);
        padding:50px;

    }
    h5{
        margin-left:70px;
    }
    p{
        text-align:;      
    }
    .fa-laptop,.fa-home,.fa-thumbs-o-up,.fa-money,.fa-bookmark,.fa-snowflake-o{
        width:80px;
        height: 50px;
        margin-left:50px;;
        padding:10px;
        font-size: 30px;
        text-align:end;
    }
</style>
<div id="s">
    <h2>OUR SERVICES</h2>
    <div class="container">
        <div class="row">
            <div class="col">
                <h5>Online Order</h5>
                <i class="fa fa-laptop" aria-hidden="true" ></i>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam, dignissimos.</p> 
        </div>
        <div class="col">
             <h5>Home Delivery</h5>
            <i class="fa fa-home" aria-hidden="true"></i>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam, dignissimos.</p> 
    </div>
    <div class="col">
        <h5>Quality</h5>
        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam, dignissimos.</p> 
</div>
</div>
<div class="row">
    <div class="col">
        <h5>Fresh Recipe</h5>
        <i class="fa fa-bookmark" aria-hidden="true"></i>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam, dignissimos.</p> 
</div>
<div class="col">
    <h5>Creativity</h5>
    <i class="fa fa-snowflake-o" aria-hidden="true"></i>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam, dignissimos.</p> 
</div>
<div class="col">
    <h5>Best Price</h5>
    <i class="fa fa-money" aria-hidden="true"></i>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam, dignissimos.</p> 
</div>
</div>
    </div>
</div>




